* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: black;
	padding: 10px;

}
.container-logo {
	width: 75%;
	display: flex;
	align-items: center;
	list-style: none;
}
.container-logo a {
	text-decoration: none;
	color: white;
}
.container-left {
	width: 25%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.container-left a {
	text-decoration: none;
	color: white;
}
.container-left .item-button {
	background-color: #0080ff;
	padding: 10px;
}
.container-left .item-button-secondary {
	padding: 10px;
	border: 1px solid #0080ff;
}

.menu {
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-image: linear-gradient(
		180deg,
		#ffffff 0%,
		#6284ff 50%,
		#ff0000 100%);
}
.menu h2{
    color: #0080ff;
    font-size: 70px; 
}
.menu p{
    font-size: 30px;
}
.content-mid{
    width: 100%;
    height: 1240px;
    background-color: #74EBD5;
	text-align: center;
}
.menu-content .title{
    font-size: 50px;
    width: 50%;
    color: white;
    padding-top: 90px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid white;
}
.container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px;
	margin: 20px;
	margin-top: 50px;

}
.container-conten{
	margin: 30px;
	text-decoration: none;
	background-color: black;
	color: white;
	border-radius: 10px;
}
.container-conten img{
	width: 100%;
	max-width: 410px;
	text-align: center;
}
.container .container-conten .conten{
	padding: 20px;
}
.button{
	text-decoration: none;
	background-color: grey;
	padding: 15px;
	color: white;
}
.menu-connect{
	width: 100%;
	height: 540px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
	background-image: linear-gradient(
		180deg,
		#ffffff 0%,
		#6284ff 50%,
		#ff0000 100%);
}
.menu-connect .container-connect{
	color: white;
}
.container-connect h2{
	font-size: 60px;
	margin-bottom: 10px;
}
.container-connect p{
	font-size: 20px;
}
.contact-link{
	padding-top: 30px;
}
.contact-link a{
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 20px;
}
.ending{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
color: white;
font-size: 20px;
}
.ending .ending-left{
	padding-right: 40px;
	margin: 20px;
}
.ending .ending-right{
	padding-left: 40px;
	margin: 20px;
}











